// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$avatar-nath-name: 'avatar-nath';
$avatar-nath-x: 0px;
$avatar-nath-y: 0px;
$avatar-nath-offset-x: 0px;
$avatar-nath-offset-y: 0px;
$avatar-nath-width: 669px;
$avatar-nath-height: 530px;
$avatar-nath-total-width: 806px;
$avatar-nath-total-height: 648px;
$avatar-nath-image: 'images/sprite.png';
$avatar-nath: (0px, 0px, 0px, 0px, 669px, 530px, 806px, 648px, 'images/sprite.png', 'avatar-nath', );
$down-name: 'down';
$down-x: 689px;
$down-y: 425px;
$down-offset-x: -689px;
$down-offset-y: -425px;
$down-width: 41px;
$down-height: 24px;
$down-total-width: 806px;
$down-total-height: 648px;
$down-image: 'images/sprite.png';
$down: (689px, 425px, -689px, -425px, 41px, 24px, 806px, 648px, 'images/sprite.png', 'down', );
$fond-menu-hover-name: 'fond-menu-hover';
$fond-menu-hover-x: 689px;
$fond-menu-hover-y: 0px;
$fond-menu-hover-offset-x: -689px;
$fond-menu-hover-offset-y: 0px;
$fond-menu-hover-width: 117px;
$fond-menu-hover-height: 147px;
$fond-menu-hover-total-width: 806px;
$fond-menu-hover-total-height: 648px;
$fond-menu-hover-image: 'images/sprite.png';
$fond-menu-hover: (689px, 0px, -689px, 0px, 117px, 147px, 806px, 648px, 'images/sprite.png', 'fond-menu-hover', );
$fond-menu-name: 'fond-menu';
$fond-menu-x: 689px;
$fond-menu-y: 167px;
$fond-menu-offset-x: -689px;
$fond-menu-offset-y: -167px;
$fond-menu-width: 117px;
$fond-menu-height: 147px;
$fond-menu-total-width: 806px;
$fond-menu-total-height: 648px;
$fond-menu-image: 'images/sprite.png';
$fond-menu: (689px, 167px, -689px, -167px, 117px, 147px, 806px, 648px, 'images/sprite.png', 'fond-menu', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 550px;
$logo-offset-x: 0px;
$logo-offset-y: -550px;
$logo-width: 300px;
$logo-height: 98px;
$logo-total-width: 806px;
$logo-total-height: 648px;
$logo-image: 'images/sprite.png';
$logo: (0px, 550px, 0px, -550px, 300px, 98px, 806px, 648px, 'images/sprite.png', 'logo', );
$polygone-name: 'polygone';
$polygone-x: 689px;
$polygone-y: 334px;
$polygone-offset-x: -689px;
$polygone-offset-y: -334px;
$polygone-width: 63px;
$polygone-height: 71px;
$polygone-total-width: 806px;
$polygone-total-height: 648px;
$polygone-image: 'images/sprite.png';
$polygone: (689px, 334px, -689px, -334px, 63px, 71px, 806px, 648px, 'images/sprite.png', 'polygone', );
$spritesheet-width: 806px;
$spritesheet-height: 648px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($avatar-nath, $down, $fond-menu-hover, $fond-menu, $logo, $polygone, );
$spritesheet: (806px, 648px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
