@import "_reset.scss";
@import "_border.scss";
@import "_color.scss";
@import "_sprites.scss";

body {
    background: $beige;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: $beige;
    font-size: 18px;
    font-weight: 300;
}
h2 {
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 500;
    color: $black;
    text-align: center;
}
h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
}
a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}
.border-title {
    position: relative;
    display: block;
    width: 200px;
    height: 1px;
    margin: auto;
    margin-bottom: 35px;
    background: $pink;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: $pink;
    }
}

.more-all {
    padding: 5px 7px;
    border: $border-pink;
    color: $pink;
    background: transparent;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    &:hover {
        background: $pink;
        color: $black;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }
}

.burger-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    height: auto;
    z-index: 100;
    span {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        background: $pink;
    }
}

header {
    background: $black;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    #logo {
        padding: 15px 0;
        text-align: center;
        img {
            display: block;
            margin: auto;
        }
        h1 {
            margin-top: 15px;
        }
    }
    nav {
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding-top: 50px;
        background: $black;
        border-left: 2px solid $pink;
        z-index: 10;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        ul {
            li {
                display: block;
                padding: 15px;
                border-bottom: 1px solid $beige;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    color: $pink;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }
    nav.activ {
        height: 100%;
        right: 0;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }
}

#presentation {
    position: relative;
    height: 290px;
    padding: 65px 0;
    background-color: $black;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('images/fond.jpg');
        background-size: cover;
        opacity: 0.3;
        z-index: 0;
    }
    .content {
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin: 0 auto 20px;
            background: $pink;
        }
        &:after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            margin: 20px auto 0;
            background: $pink;
        }
        p {
            text-align: center;
            font-size: 36px;
            font-weight: 100;
            color: $beige;
            &:last-child {
                font-size: 12px;
            }
        }
        h2 {
            padding: 15px 0;
            text-align: center;
            color: $beige;
            font-size: 36px;
        }
    }
    .scroll-bot {
        position: relative;
        display: block;
        width: $polygone-width;
        height: $polygone-height;
        margin: 20px auto 0;
        background-position: $polygone-offset-x $polygone-offset-y;
        background-image: url($polygone-image);
        cursor: pointer;
        z-index: 10;
        .icon-down {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: $down-width;
            height: $down-height;
            margin: auto;
            background-position: $down-offset-x $down-offset-y;
            background-image: url($down-image);
            z-index: 100;
            animation: bouncy 1.5s infinite ease-in-out;
        }
    }
}

#nath {
    position: relative;
    padding-top: 90px;
    h3 {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        span {
            font-weight: 500;
            color: $pink;
        }
    }
    .thumbnail {
        margin-bottom: 85px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto 30px;
        }
        p {
            display: block;
            font-size: 16px;
            font-weight: 100;
            text-align: center;
            strong {
                font-weight: 700;
            }
        }
    }
    .competences {
        width: 100%;
        li {
            margin-bottom: 30px;
            div {
                position: relative;
                height: 15px;
                background-color: $black;
                border: $border-black;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 1;
                    left: 1;
                    height: 13px;
                    background-color: $pink;
                }
            }
            .width10 {
                &:after {
                    width: 10%;
                }
            }
            .width20 {
                &:after {
                    width: 20%;
                }
            }
            .width30 {
                &:after {
                    width: 30%;
                }
            }
            .width40 {
                &:after {
                    width: 40%;
                }
            }
            .width50 {
                &:after {
                    width: 50%;
                }
            }
            .width60 {
                &:after {
                    width: 60%;
                }
            }
            .width70 {
                &:after {
                    width: 70%;
                }
            }
            .width80 {
                &:after {
                    width: 80%;
                }
            }
            .width90 {
                &:after {
                    width: 90%;
                }
            }
        }
    }
}

#print {
    position: relative;
    background: $black;
    padding: 55px 0 20px 0;
    svg {
        position: relative;
        bottom: -23px;
        width: 100%;
        height: 70px;
        fill: $beige;
    }
    .container {
        h2 {
            color: $beige;
        }
        .content {
            margin-bottom: 40px;
            .content-print {
                margin-bottom: 40px;
                .thumbnail {
                    margin-bottom: 20px;
                    text-align: center;
                    img {
                        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
                        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
                        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
                    }
                }
                .description {
                    h3 {
                        margin-bottom: 35px;
                        color: $green;
                        text-align: left;
                        font-size: 18px;
                    }
                    p {
                        color: $beige;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 24px;
                    }
                    .more {
                        display: inline-block;
                        margin-top: 20px;
                        color: $pink;
                        font-weight: 500;
                        font-size: 16px;
                        &:after {
                            content: '';
                            display: block;
                            width: 60px;
                            height: 1px;
                            margin-top: 10px;
                            background-color: $pink;
                        }
                        .right {
                            display: inline-block;
                            width: $right-width;
                            height: $right-height;
                            margin-left: 20px;
                            background-position: $right-offset-x $right-offset-y;
                            background-image: url($spritesheet-image);
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                        &:hover {
                            .right {
                                content: '';
                                margin-left: 10px;
                            }
                        }
                    }
                }
                &:nth-child(even) {
                    .thumbnail {
                        float: left;
                    }
                    .description {
                        float: left;
                    }
                }
            }
        }
    }
}

.category, .page-template, .archive {
    .content-print {
        margin-bottom: 20px;
        .content {
            margin-bottom: 40px;
            background: $black;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
            a {
                h3 {
                    margin: 0;
                    padding: 15px 0;
                    text-align: center;
                    color: $beige;
                    font-size: 18px;
                    font-weight: 700;
                }
                .thumbnail {
                    height: 145px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(1);
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                    }
                }
                .description {
                    padding: 15px;
                    margin-bottom: 20px;
                    p {
                        color: $white;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 18px;
                    }
                }
                .more {
                    display: block;
                    padding: 15px 0;
                    text-align: center;
                    color: $black;
                    background: $green;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
                &:hover {
                    .thumbnail {
                        img {
                            transform: scale(1.25);
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                    }
                    .more {
                        background: $beige;
                        color: $green;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                    }
                }
            }
        }
    }
}

#web {
    padding: 55px 0;
    svg {
        position: relative;
        bottom: -23px;
        width: 100%;
        height: 70px;
        fill: $black;
    }
    a {
        display: inline-block;
        .thumbnail {
            position: relative;
            height: 155px;
            margin-bottom: 20px;
            overflow: hidden;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $black-transparent;
            }
            .description {
                position: absolute;
                bottom: 15px;
                left: 0;
                padding: 0 15px;
                transition: all ease 0.3s;
                h3 {
                    font-size: 18px;
                    color: $white;
                }
                p {
                    line-height: 24px;
                    font-size: 16px;
                    color: $white;
                }
            }
            .read-more {
                position: absolute;
                bottom: -30px;
                width: 100%;
                transition: all ease 0.3s;
                .more {
                    display: inline-block;
                    padding: 5px 7px;
                    border: $border-pink;
                    color: $pink;
                    font-size: 16px;
                }
            }
        }
        &:hover, &:focus, &:active {
            .thumbnail {
                .description {
                    bottom: 50px;
                    transition: all ease 0.3s;
                }
                .read-more {
                    bottom: 10px;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}

#personnal {
    margin-top: -35px;
    padding-bottom: 40px;
    background: $black;
    h2 {
        color: $beige;
    }
    .row {
        div {
            a {
                display: block;
                margin-bottom: 20px;
                background: $white;
                border: $border-pink;
                .thumbnail {
                    margin-bottom: 35px;
                }
                .description {
                    padding: 0 15px 15px 15px;
                    h3 {
                        font-size: 18px;
                        color: $black;
                    }
                    p {
                        margin-bottom: 10px;
                        color: $black;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 300;
                    }
                    .read-more {
                        .more {
                            color: $pink;
                            .right {
                                display: inline-block;
                                width: $right-width;
                                height: $right-height;
                                margin-left: 20px;
                                background-position: $right-offset-x $right-offset-y;
                                background-image: url($spritesheet-image);
                                transition: all ease 0.3s;
                                -moz-transition: all ease 0.3s;
                                -webkit-transition: all ease 0.3s;
                            }
                        }
                    }
                }
                &:hover, &:focus, &:active {
                    .description {
                        .read-more {
                            .more {
                                .right {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#parole {
    position: relative;
    padding: 50px 0;
    margin-bottom: 50px;
    background: url('img/fond-parole.jpg') no-repeat fixed;
    background-size: cover;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black-transparent;
        z-index: 0;
    }
    p {
        text-align: center;
        color: $beige;
        font-style: italic;
        font-weight: 100;
    }
}

#reassurance {
    margin-bottom: 40px;
    h4 {
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 400;
    }
}

#confiance {
    margin-bottom: 40px;
    .owl-carousel {
        position: relative;
        .item {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            img {
                width: auto;
                max-width: 100%;
                height: 45px;
                margin: auto;
            }
        }
        .owl-nav {
            .owl-prev {
                background: none;
                color: $pink;
                font-size: 18px;
            }
            .owl-next {
                background: none;
                color: $pink;
                font-size: 18px;
            }
        }
    }
}

footer {
    .border-title {
        width: 100%;
    }
    padding: 40px 0;
    background: $black;
    .title-footer {
        margin-bottom: 20px;
        text-align: center;
        color: $pink;
        font-size: 16px;
        font-weight: 100;
    }
    ul {
        margin-bottom: 20px;
        li {
            margin-bottom: 10px;
            text-align: center;
            a {
                color: $beige;
                font-weight: 100;
                font-size: 14px;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                &:hover {
                    color: $pink;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
                &:focus {
                    color: $pink;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .social {
        li {
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: $pink;
                border: $border-pink;
                border-radius: 50%;
                i {
                    font-size: 14px;
                }
            }
        }
    }
    .made-by {
        width: 100%;
        text-align: center;
        color: $beige;
        font-size: 12px;
        font-weight: 100;
        a {
            color: $pink;
            font-size: 12px;
            font-weight: 100;
        }
    }
}

#breadcrumb {
    margin-top: 40px;
    >span {
        display: block;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        background: none;
        span {
            font-size: 18px;
            a {
                display: inline-block;
                color: $black;
                font-size: 18px;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                &:hover {
                    color: $pink;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
            }
        }
    }
    .breadcrumb_last {
        font-weight: 700;
        color: $pink;
    }
}

.single {
    .thumbnail {
        height: 180px;
        overflow: hidden;
    }
    .content {
        margin: 40px auto;
        h3 {
            font-size: 22px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
        .more-all {
            display: inline-block;
            margin: 20px auto;
            padding: 10px 40px;
            background: $green;
            color: $black;
            border: $border-green;
            transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            &:hover {
                color: $green;
                background: $beige;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
            }
        }
        .block-img {
            img {
                cursor: pointer;
            }
        }
    }
}

.fancybox-overlay {
    background: none;
    .fancybox-close {
        background-image: none;
        background: $black;
        border-radius: 50%;
        text-align: center;
        &:after {
            content: '\f00d';
            font: normal normal normal 18px/1 FontAwesome;
            color: $pink;
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin: auto;
        }
    }
}

#map {
    position: relative;
    height: 300px;
    margin-bottom: 40px;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $grey-transparent;
        z-index: 10;
        p {
            position: absolute;
            width: 300px;
            height: 20px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-align: center;
            color: $pink;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

#contact {
    .avatar {
        text-align: center;
    }
    h3 {
        color: $pink;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }
    .sub-address {
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 30px;
        a {
            color: $pink;
        }
    }
    .contact {
        margin: 40px auto;
        .form-group {
            margin-bottom: 10px;
            input, textarea {
                max-width: 100%;
                padding-left: 15px;
                border: $border-pink;
                background: transparent;
                outline: none;
                font-family: 'Roboto', sans-serif;
            }
            input {
                width: 100%;
                height: 27px;
                line-height: 27px;
            }
            textarea {
                width: 100%;
                padding-top: 15px;
                resize: none;
            }
            label {
                display: block;
                margin-bottom: 5px;
                font-family: 'Roboto', sans-serif;
            }
            .btn {
                width: auto;
                height: auto;
                padding: 5px 7px;
                line-height: normal;
                color: $pink;
                border-radius: 0px;
                font-weight: 500;
                cursor: pointer;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                &:hover {
                    background: $pink;
                    color: $beige;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
                &:focus {
                    background: $pink;
                    color: $beige;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                }
            }
            .ajax-loader {
                display: none;
            }
        }
    }
}

@keyframes bouncy {
    50% {
        transform: translate(0px, 10px);
    }
}

@media all and (min-width: 480px) {
    #web {
        a {
            .thumbnail {
                height: 200px;
            }
        }
    }
    #parole {
        padding: 60px 0;
        p {
            font-size: 24px;
        }
    }
}
@media all and (min-width: 768px) {
    #presentation {
        height: 500px;
        padding: 115px 0;
        .content {
            &:before {
                width: 70%;
                margin: 0 auto 45px;
            }
            &:after {
                width: 40%;
                margin: 45px auto 0;
            }
            p {
                font-size: 60px;
                &:last-child {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 60px;
            }
        }
        .scroll-bot {
            margin: 75px auto 0;
        }
    }
    #nath {
        h3 {
            font-size: 48px;
        }
    }
    #print {
        .content {
            .thumbnail {
                text-align: left;
            }
            .description {
                text-align: left;
            }
            &:nth-child(odd) {
                .thumbnail {
                    float: right;
                }
                .description {
                    float: right;
                    padding: 0 15px;
                }
            }
            &:nth-child(even) {
                .thumbnail {
                    float: left;
                }
                .description {
                    float: left;
                    padding: 0 15px;
                    .more {
                        &:hover {
                            .right {
                                margin-left: 10px;
                                transition: all ease 0.3s;
                                -moz-transition: all ease 0.3s;
                                -webkit-transition: all ease 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    #web {
        a {
            .thumbnail {
                height: 175px;
            }
        }
    }
    #parole {
        padding: 80px 0;
        p {
            font-size: 42px;
        }
    }
    #reassurance {
        margin-bottom: 130px;
    }
    #confiance {
        .owl-carousel {
            .owl-nav {
                position: absolute;
                width: 100%;
                height: auto;
                top: 10px;
                margin-top: 0;
                .owl-prev {
                    float: left;
                    margin-left: -20px;
                }
                .owl-next {
                    float: right;
                    margin-right: -20px;
                }
            }
        }
    }
    footer {
        .social {
            li {
                float: left;
                width: 50%;
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    color: $pink;
                    border: $border-pink;
                    border-radius: 50%;
                    transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    &:hover {
                        background: $pink;
                        color: $black;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                    }
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .single {
        .thumbnail {
            height: 250px;
        }
    }
    #contact {
        .avatar {
            text-align: right;
        }
        h3 {
            margin-top: 10px;
            text-align: left;
        }
        .sub-address {
            text-align: left;
            margin-bottom: 0;
        }
    }
}

@media all and (min-width: 992px) {
    .burger-menu {
        display: none;
    }
    header {
        #logo {
            float: left;
            img {
                display: block;
                width: 205px;
            }
        }
        nav {
            position: relative;
            top: inherit;
            right: inherit;
            float: right;
            width: auto;
            height: 130px;
            padding-top: 0;
            background: transparent;
            border-left: none;
            ul {
                li {
                    display: inline-block;
                    padding: 0;
                    border-bottom: 0px;
                    a {
                        position: relative;
                        display: inline-block;
                        width: 117px;
                        height: 130px;
                        padding: 50px 0;
                        color: $beige;
                        text-align: center;
                        z-index: 10;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: 0;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                    }
                    a:hover, a:focus {
                        color: $black;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: $fond-menu-height;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                    }
                }
                li.current-menu-item, li.current-category-ancestor, li.current-menu-parent, li.current {
                    a {
                        position: relative;
                        color: $black;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: $fond-menu-height;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
    #nath {
        .container {
            &:after {
                content: '';
                position: absolute;
                bottom: -30px;
                right: 0;
                width: $avatar-nath-width;
                height: $avatar-nath-height;
                background-position: $avatar-nath-offset-x $avatar-nath-offset-y;
                background-image: url($avatar-nath-image);
                z-index: -1;
            }
            h3 {
                text-align: left;
            }
            .thumbnail {
                text-align: left;
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
                p {
                    display: inline-block;
                    padding-left: 30px;
                    text-align: left;
                }
            }
        }
        .competences {
            width: 40%;
        }
    }
    #web {
        a {
            .thumbnail {
                height: 155px;
            }
        }
    }
    #parole {
        p {
            font-size: 48px;
        }
    }
    #reassurance {
        h4 {
            margin-bottom: 10px;
        }
    }
    .single {
        .thumbnail {
            height: 300px;
        }
    }
}

@media all and (min-width: 1200px) {
    #web {
        a {
            .thumbnail {
                height: 185px;
            }
        }
    }
}
