@import "_reset.scss";
@import "_border.scss";
@import "_color.scss";
@import "_sprites.scss";

body {
    background: $beige;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $beige;
    font-size: 18px;
    font-weight: 300;
}
h3 {
    margin-bottom: 20px;
    font-size: 24px;
}
h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
}
a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

header {
    background: $black;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    #logo {
        padding: 15px 0;
        text-align: center;
        img {
            display: block;
            margin: auto;
        }
        h1 {
            margin-top: 15px;
        }
    }
    nav {
        ul {
            li {
                a {
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }
}

#presentation {
    position: relative;
    height: 290px;
    padding: 65px 0;
    background-color: $black;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('images/fond.jpg');
        background-size: cover;
        opacity: 0.3;
        z-index: 0;
    }
    .content {
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin: 0 auto 20px;
            background: $pink;
        }
        &:after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            margin: 20px auto 0;
            background: $pink;
        }
        p {
            text-align: center;
            font-size: 36px;
            font-weight: 100;
            color: $beige;
            &:last-child {
                font-size: 12px;
            }
        }
        h2 {
            padding: 15px 0;
            text-align: center;
            color: $beige;
            font-size: 36px;
        }
    }
    .scroll-bot {
        position: relative;
        display: block;
        width: $polygone-width;
        height: $polygone-height;
        margin: 35px auto 0;
        background-position: $polygone-offset-x $polygone-offset-y;
        background-image: url($polygone-image);
        .icon-down {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: $down-width;
            height: $down-height;
            margin: auto;
            background-position: $down-offset-x $down-offset-y;
            background-image: url($down-image);
            z-index: 100;
            animation: bouncy 1.5s infinite ease-in-out;
        }
    }
}

#nath {
    position: relative;
    padding-top: 90px;
    h3 {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        span {
            font-weight: 500;
            color: $pink;
        }
    }
    .thumbnail {
        margin-bottom: 85px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto 30px;
        }
        p {
            display: block;
            font-size: 16px;
            font-weight: 100;
            text-align: center;
            strong {
                font-weight: 700;
            }
        }
    }
    .competences {
        width: 100%;
        li {
            margin-bottom: 30px;
            div {
                position: relative;
                height: 15px;
                background-color: $black;
                border: $border-black;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 1;
                    left: 1;
                    height: 13px;
                    background-color: $pink;
                }
            }
            .width10 {
                &:after {
                    width: 10%;
                }
            }
            .width20 {
                &:after {
                    width: 20%;
                }
            }
            .width30 {
                &:after {
                    width: 30%;
                }
            }
            .width40 {
                &:after {
                    width: 40%;
                }
            }
            .width50 {
                &:after {
                    width: 50%;
                }
            }
            .width60 {
                &:after {
                    width: 60%;
                }
            }
            .width70 {
                &:after {
                    width: 70%;
                }
            }
            .width80 {
                &:after {
                    width: 80%;
                }
            }
            .width90 {
                &:after {
                    width: 90%;
                }
            }
        }
    }
}

#print {
    background: $black;
    padding: 55px 0;
    h3 {
        color: $green;
        text-align: center;
        font-size: 18px;
    }
    .border-title {
        display: block;
        width: 200px;
        height: 1px;
        margin: auto;
        background: $pink;
    }
}

@keyframes bouncy {
    50% {
        transform: translate(0px, 10px);
    }
}

@media all and (min-width: 768px) {
    header {
        #logo {
            float: left;
            img {
                display: block;
                width: 205px;
            }
        }
        nav {
            float: right;
            height: 130px;
            ul {
                li {
                    display: inline-block;
                    a {
                        position: relative;
                        display: inline-block;
                        width: 117px;
                        height: 130px;
                        padding: 50px 0;
                        color: $beige;
                        text-align: center;
                        z-index: 10;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: 0;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                    }
                    a:hover, a:focus {
                        color: $black;
                        transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: $fond-menu-height;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                            transition: all ease 0.3s;
                            -moz-transition: all ease 0.3s;
                            -webkit-transition: all ease 0.3s;
                        }
                    }
                }
                li.current-menu-item {
                    a {
                        position: relative;
                        color: $black;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0px;
                            width: $fond-menu-width;
                            height: $fond-menu-height;
                            background-position: $fond-menu-offset-x $fond-menu-offset-y;
                            background-image: url($down-image);
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
    #presentation {
        height: 500px;
        padding: 115px 0;
        .content {
            &:before {
                width: 70%;
                margin: 0 auto 45px;
            }
            &:after {
                width: 40%;
                margin: 45px auto 0;
            }
            p {
                font-size: 60px;
                &:last-child {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 60px;
            }
        }
        .scroll-bot {
            margin: 90px auto 0;
        }
    }
    #nath {
        h3 {
            font-size: 48px;
        }
    }
}

@media all and (min-width: 992px) {
    #nath {
        .container {
            &:after {
                content: '';
                position: absolute;
                bottom: -30px;
                right: 0;
                width: $avatar-nath-width;
                height: $avatar-nath-height;
                background-position: $avatar-nath-offset-x $avatar-nath-offset-y;
                background-image: url($avatar-nath-image);
                z-index: -1;
            }
            h3 {
                text-align: left;
            }
            .thumbnail {
                text-align: left;
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
                p {
                    display: inline-block;
                    padding-left: 30px;
                    text-align: left;
                }
            }
        }
        .competences {
            width: 40%;
        }
    }
}
