*.log
.htaccess
.htpasswd
sitemap.xml
sitemap.xml.gz
license.txt
readme.html
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/*

**/node_modules
**/.sass-cache
